package template 

templ Footer() {
	<footer id="footer" class="container">
		<small>
			Built with <span class={ primaryColor() }>&hearts;</span> using
			<a href="https://kit.svelte.dev" target="_blank">SvelteKit</a> &amp;
			<a href="https://picocss.com" target="_blank">Pico</a>
		</small>
	</footer>
	<style>
	#footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
</style>
}
