package template

templ skeleton(apiRoute string) {
	<article class={ cardSkeleton() } aria-busy="true" hx-get={ apiRoute } hx-trigger="load delay:5s" hx-swap="outerHTML">
		<strong>fetching data...</strong>
	</article>
}
