package template

templ skeleton(apiRoute string) {
	<article class={ cardSkeleton() } aria-busy="true" hx-get={ apiRoute } hx-trigger="load delay:1s" hx-swap="outerHTML transition:true">
		<strong>fetching data...</strong>
	</article>
}

templ ErrorFetchCard() {
	<article class={ cardSkeleton() }>
		<strong>Uh oh! failed to fetch data.</strong>
	</article>
}
