package template

css card() {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.75rem;
}

css cardHeader() {
	padding-top: 1rem;
	padding-bottom: 0rem;
	margin-bottom: 1rem;
}

css desc() {
	text-align: justify;
}

css primaryColor() {
	color: var(--pico-primary);
}

css nonList() {
	list-style-type: none;
}
