package pages

import (
	"github.com/bagashiz/portfolio/internal/app/model"
	"github.com/bagashiz/portfolio/web/components"
)

templ Resume(socials []model.Social, educations []model.Education, works []model.Experience, volunteers []model.Experience, awards []model.Award, certs []model.Certification, skills []string, workflows []string) {
	@components.Layout() {
		@components.Resume(socials, educations, works, volunteers, awards, certs, skills, workflows)
	}
}
