package components

import "github.com/bagashiz/portfolio/internal/web/styles"

templ ErrorFetchCard() {
	<article class={ styles.CardSkeleton() }>
		<strong>Uh oh! failed to fetch data.</strong>
	</article>
}
