package pages

import (
	"github.com/bagashiz/portfolio/internal/model"
	"github.com/bagashiz/portfolio/internal/web/components"
)

templ Blogs(blogs []model.Blog) {
	@components.Layout() {
		@components.BlogCard(blogs)
	}
}
